

	<body>
		<!-- Header -->
		<% if (locals.users != undefined) { %>
			<%- include('./partials/headerLogueado') %>
		 <% } else { %>
			<%- include('./partials/header') %>
		<% } %>
		<!-- /Header -->
		<!-- product detail -->
		<div class="container products-wrapper">
			
			<div class="d-flex align-items-center">
				<h2 class="products-title"> <%= lista[2].nombre %> </h2> 
				<p class="product-detail-description">
					<a href="/product/productAdd">Editar</a>
				</p>
			</div>
			


			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%= lista[2].foto %>" alt="" class="product-detail-img">
						<p class="product-detail-description">
							<%= lista[2].descripcion %></p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<% for ( i = 0; i < 3; i++) { %>
								<article>
									<img src="<%= lista[2].comentarios[i].Foto%>" alt="">
									<div class="data">
										<p class="users">
										<strong> <a href="profile"> <%= lista[2].comentarios[i].usuario %> - <%= lista[i].comentarios.usuariosId %> </a> </strong> <br>
										<%= lista[2].comentarios[i].texto_comentario %></p>
									</div>
									
								</article>
							<% } %>
						</section>
						<form class="form" action="/product" method="get">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>

		</div>
		<!-- /product detail -->

		<!-- footer -->
		<%- include('./partials/footer') %>
		<!-- footer -->

	</body>	
