
<body>
	<!-- Header -->
	<% if (locals.usuario != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	 <% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<div class="container products-wrapper">
				<div class="row">
				

			<% for (let i = 0; i < resultado.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/id/<%=resultado[i].productoId%>">
							<figure class="product-box_image">
								<img src= <%= resultado[i].fotoProducto %> alt="">
							</figure>
							<article class="product-box_data">
								<h2><%= resultado[i].nombreProducto%></h2>
								<p><%= resultado[i].descripcion %></p>
								<a href="usuarios/profile/id/<%= resultado[i].usuariosId %>"> <p><%= resultado[i].usuarios.email%></p></a>
								<p>Comentarios: <%= resultado[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				</div>
				<%} %>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- footer -->
</body>

